
//css
link(rel="stylesheet", href="/css/header.css")
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
link(href="/css/profile.css", rel="stylesheet")
script(src='/js/common.js')
script(src='/js/profile.js')
// Logo
div.logo.form-group
  div.left-header.col-md-9
    a(href='/')
      img(src="/images/logo1.png", alt="", srcset="")
      span Chat with Me
  div.right-header.col-md-3
    a(href='#')
      if userLogin.user_profile_image != undefined
        img.img_url(src = userLogin.user_profile_image)
      else 
        img.img_url(src="/images/no-img.png")
      span#action_profile #{userLogin.username}
    small.user_name#nick (#{userLogin.nickname})
    .action_menu_profile
      ul
        li(aria-hidden='true' data-toggle='modal', data-target='#myModal')
          i#my-profile.fas.fa-user-circle
            |  Profile
        li
          form#logout-form.form(action="/logout" method="post")
            p#logout-submit
              i.fas.fa-users
                |  Logout
#myModal.modal.fade(role='dialog')
    .modal-dialog.modal-lg
      .modal-content
        .modal-body
          .container.h-100
            .row.h-100.justify-content-center.align-items-center
              .card-profile
                .card-h
                  .profile_pic
                    if userLogin.user_profile_image != undefined
                      img(src = userLogin.user_profile_image)
                    else 
                      label(for="imgInp")
                        img(src="/images/no-img.png")
                      input#imgInp(type='file')
                .card-body-profile
                  .d-lfex.justify-content-center.flex-column
                    .name_container
                      .name#username #{userLogin.username}
                      input.name#editname(type="text" value=userLogin.username)
                    .nickname_container
                      .nickname#nickname (#{userLogin.nickname})
                      input.nickname#editnick(type="text" value=userLogin.nickname)
                  .follow
                .card-footer-profile
                  button.btn-cancel.btn-danger(type='button', data-dismiss='modal') Cancel
